body {
    background-color:rgb(230, 228, 228);
    color:rgb(102, 2, 102); 
    font-family: "SUSE", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}
button{
    background-color: darkorchid;
    color:white;
    font-family: "SUSE", sans-serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 90%;
}